.contact{
    background-color: #a6c63b;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.btn{
background: #a6c63b;
border: 2px solid #ffffff;
color: white;
padding: 10px 22px;
border-radius: 30px;
font-size: 13px;
font-weight: 600;
cursor: pointer;
}

.services {
  padding: 80px 40px;  
  background-color: #ffffff;
  text-align: center;  
}

.services h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}
.services h2 span {
  color: #a6c63b;  
}

.services .subtitle {
  font-size: 13px;
  color: #9a9a9a;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.services-grid {
  display: flex;
  gap: 30px;
}
.service-card {
  flex: 1; 
}
.service-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}
.service-card .content {
  padding: 25px;
}
.service-card h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.service-card p {
  font-size: 14px;
  color: #777777;
  line-height: 1.6;
  margin-bottom: 20px;
}
.service-card .read-more {
  display: inline-block;
  padding: 10px 22px;
  background-color: #a6c63b;
  color: #ffffff;
  border-radius: 25px;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
}